<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <h1>Hello</h1>

  <br>

  <% data.forEach(function(info){ %>


  <div>
    <h4><%= info.headline %> </h4>
    <p> <%= info.text %> </p>

  </div>
  <br>

  <% }) %>


</body>

</html>